.navigation__list {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.navigation__link {
  position: relative;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: var(--second-color);
}
.navigation__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--main-bg-color);
  transition: 0.3s;
  transform: scaleX(0);
}
.navigation__link:hover::before {
  transform: scaleX(100%);
}
.navigation__link:active {
  color: var(--main-bg-color);
}

@media (max-width: 1200px) {
  .navigation__list {
    gap: 20px;
  }
  .navigation__link {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .navigation {
    display: none;
    width: 100%;
  }
  .navigation--active {
    display: block;
    transition: 0.3s;
  }
  .navigation__item {
    flex-basis: 146px;
  }
  .navigation__link {
    display: block;
    width: 100%;
    padding: 7px 10px;
    border: 1px solid var(--trigger-color);
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
  }
  .navigation__link::before {
    content: none;
  }
}
@media (max-width: 760px) {
  .navigation__list {
    flex-wrap: wrap;
    gap: 8px 6px;
  }
  .navigation__item {
    flex-basis: calc(50% - 6px);
  }
}